@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $grey-500;
  color: $grey-100;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $grey-700;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: $grey-600;
  border-radius: 10px;
  border: 3px solid $grey-700;
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-500;
}